{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}



{% block body %}
{% if videoExists %}
    <video width="100%" controls autoplay muted loop poster="{{ asset('asset/images/video_poster.jpg') }}">
        <source src="{{ asset('asset/video/Cuisine_C.mp4') }}" type="video/mp4" height="50px" width="50px">
        Votre navigateur ne supporte pas la vidéo.
    </video>
{% else %}
    <p>La vidéo n’est pas disponible pour le moment.</p>
{% endif %}


<h1>Menu du jour</h1>
   <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for plat in plats %}
            <div class="col">
                <div class="card h-100">
                    {% if plat.image %}
                        <img src="{{ asset('uploads/images/' ~ plat.image) }}" class="card-img-top" alt="{{ plat.libelle }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ plat.libelle }}</h5>
                        <p class="card-text">{{ plat.description }}</p>
                        <p class="card-text"><strong>{{ plat.prix }} €</strong></p>
                        <a href="{{ path('app_panier_ajouter', { id: plat.id }) }}" class="btn btn-success">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun plat disponible pour le moment.</p>
        {% endfor %}
    </div>

    <hr class="my-5">

  <h2>Catégories</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for categorie in categories %}
        <div class="col">
            <a href="{{ path('app_catalogue_categorie_plats', { id: categorie.id }) }}" class="text-decoration-none text-dark">
                <div class="card h-100">
                    {% if categorie.image %}
                        <img src="{{ asset('uploads/images/' ~ categorie.image) }}" class="card-img-top" alt="{{ categorie.libelle }}">
                    {% else %}
                        <img src="{{ asset('images/default-category.jpg') }}" class="card-img-top" alt="Image par défaut">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ categorie.libelle }}</h5>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
